# git
.git
.gitignore

# env
.env

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtualenv
.venv/

# IDE
.idea/
.vscode/

# local data
poopbot_pgdata/

# backups (на сервере)
backups/

# OS
.DS_Store
