# env
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
*.egg-info/
build/
dist/

# virtualenv
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# local volumes / data
poopbot_pgdata/

# OS
.DS_Store

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.pyre/
.coverage
.coverage.*
htmlcov/
.tox/

# Local backups
backups/
*.sql.gz
*.sql

# Docker local overrides
docker-compose.override.yml
